@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");


#userComments{
  background-color: pink;
  font-size: 20px;
  width: 90%;
  padding: 15px;
}
#addList{
  background-color: blue;
  padding: 5px;
  margin-top: 10px;
  font-size: 20px;
  color: white;
}
#addEventNames{
  background-color: pink;
}
#addEnents{
  margin-top: 20px;
  background-color: pink;
  padding: 15px;
}
