
.subHeading {
  width:100%;
  text-align: center;
  padding: 15px 0px;
  margin-top: 85px;
}

#inpcity {
  padding: 15px 20px;
  font-size: 18px;
  border-radius: 8px;
  margin-right: 10px;
  text-align: center;
  width: 31%;
}
#getBut {
  padding: 15px 20px;
  font-size: 18px;
  background-color: #ededed;
  border-radius: 3px;
}
#loading-container{
  display: none;
  font-size: 15px;
  margin-left: 40%;


}
